<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>

    <h1>Select a Title For Your Post</h1>

    <!-- GOTTA MAKE A URL_FOR -->

    {% for line in headlines %}
    <p><a href="/post/{{ line | replace(' ', '_') | replace('.', '') | replace('›', '') | replace('’', '') | replace('‘', '') | replace(',', '') | replace('?', '') }}">{{line}}</a></p>
    <!-- <p> {{line}} </p> -->
    {% endfor %}

    <form action="/createpost" method="post">
        <p>Or create your own:</p> 
        <input type="text" name="blogtitle"></input>
    </form>


</body>
</html>