<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>

    <h1>Select a Title For Your Post</h1>

    <!-- GOTTA MAKE A URL_FOR -->
    <table class="center" border="0" align="left">
    <tr>
    {% for line in headlines %}
        <td>{{line}}</td>
        <td><form action="/createpost/{{ line | replace(' ', '_') | replace('.', '') | replace('›', '') | replace('’', '') | replace('‘', '') | replace(',', '') | replace('?', '') | replace(':', '') }}" method="post"><input type="submit" name ="{{line}}" value="select"></input></td> 

    </tr>
    {% endfor %}
    </table>
    

</body>
</html>