<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1 class="title">select a title for your post</h1>
    <h2 class="title">... then click "submit" (bottom of page) and a new poem/blog entry will be generated</h2>
    <p><a href="/dashboard">back to dashboard</a></p>

    <table border="1">
    <tr>
    {% for line in headlines %}
        <td>{{line}}</td>
        <td><form action="/createpost" method="post"><input type="radio" name="foo" value="{{line | replace('›', '')}}"></input></td> 

    </tr>
    {% endfor %}

    </table>
    <div class='buttonholder'
        <form action="/createpost" id="btn1" method="post"><input type="submit" name="submit_button" value="Submit"></form>
    </div>

</body>
</html>