<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bad Times poetry - dashboard</title>
</head>
<body>
    <h1 align='center'>bad Times poetry</h1>

    <h4>The  <a href="https://en.wikipedia.org/wiki/Cut-up_technique">'cut-up method'</a> refers to an aleatory literary technique 
        in which a written text is cut up and rearranged to create a new text. 
        The concept can be traced to at least the Dadaists of the 1920s, but was popularized 
        in the late 1950s and early 1960s by writer William S. Burroughs as part of his "cut-up poems". 
        </h4>

    <h5>'bad Times poetry' scrapes headlines from the New York Times homepage and 
        reassembles them into lines of (admittedly pretty bad) poetry</h5>
    

    <table class="center" border="1" align="left">
        <!-- POSTS TABLE  -->
        <tr>
            <th>date</th>
            <th>user</th>
            <th>entry</th>
            <th>link</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr>
    
            {% for c in range(copy|length) %}
            <td>{{ copy[c][1] }}</td>
            <td>{{ copy[c][2] }}</td>
            <td>{{ copy[c][3] }}</td>
            <td><a href="/post/{{copy[c][0]}}">go to post</a></td>
            <!-- <td><form action="/post/{{copy[c][0]}}" method="post"><input type="radio" name="foo" value="{{copy[c][0]}}"></input></td> 
            <td><form action="/post/{{copy[c][0]}}" method="post"><input type="radio" name="foo" value="{{copy[c][0]}}"></input></td>  -->

            <td><form action="/post/{{copy[c][0]}}" method="post">
                <input type="submit" name="action" value="edit"></form></td> 
                <!-- CREATE /DELETEPOST -->
            <td><form action="/deletepost/{{copy[c][0]}}" method="post">
                <input type="submit" name="action" id='ss' value="delete">
                <!-- <input id="{{copy[c][0]}}" type="submit" name="submit" value="{{copy[c][0]}}"> -->
                
            </form></td> 

            
        </tr>
            
            {% endfor %}


        <p><a href="/createpost">create new post</a></p>



    
</body>
</html>