<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICTURE FROM NYT</title>
</head>
<body>

    <a href="link" style="text-align: center">
        <img src={{ pic }} align="center"></a>
        
        <!-- <img src="https://static01.nyt.com/images/2021/11/30/science/00tb-fire-fungus1/00tb-fire-fungus1-square320.jpg?format=pjpg&amp;quality=75&amp;auto=webp&amp;disable=upscale" align="center"></a> -->
    
    {% for c in copy %}
    <h1> {{ c }} </h1>
    {% endfor %}
    
</body>
</html>