<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

    {% if edit == False %}

    <h1>{{ title }}</h1>

    {{post}}
    {{ (post | length) }}


    {% else %}

    Pull text from txt file and put it in text so it's editable
    

    <form action="/createpost" method="post">
        <p>edit title:</p> 
        <textarea rows="10" cols="10" name="blogcopy">
            {{title}}
        </textarea>

        <!-- <input type="text" value={{title}} name="blogtitle"></input> -->

        <p>edit text:</p> 

        <textarea rows="10" cols="10" name="blogcopy">
            {{post}}
        </textarea>


        <!-- <input type="text" placeholder={{post}} name="blogcopy"></input> -->

        <input type="submit" value="Submit"></input>
    </form>

    {% endif %}

    <p><a href="/dashboard">back to dashboard</a></p>


</body>
</html>